<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baoliao.weixin.dao.UserDao" >
  <resultMap id="BaseResultMap" type="com.baoliao.weixin.bean.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="open_id" property="openId" jdbcType="BIGINT" />
    <result column="profit" property="profit" jdbcType="DECIMAL" />
    <result column="balance" property="balance" jdbcType="DECIMAL" />
    <result column="rate" property="rate" jdbcType="REAL" />
  </resultMap>
  <select id="queryUserList" resultType="com.baoliao.weixin.bean.User">
      select * from TB_WECHAT_USER_INFO;
    </select>

  <insert id="insertFollowInfo">
        INSERT INTO TB_WECHAT_USER_INFO(OPENID,SUBSCRIBE,SUBSCRIBETIME)VALUES (#{openId},1,NOW())
    </insert>

  <update id="updateFollowInfo">
        UPDATE TB_WECHAT_USER_INFO SET SUBSCRIBE='0',cancelSubscribeTime=NOW() WHERE OPENID = #{fromUserName} AND SUBSCRIBE='1'
    </update>
</mapper>