<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baoliao.weixin.dao.FocusDao">
    <resultMap id="BaseResultMap" type="com.baoliao.weixin.bean.FocusInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="self_open_id" property="selfOpenId" jdbcType="VARCHAR"/>
        <result column="other_open_id" property="otherOpenId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="is_cancel" property="isCancel" jdbcType="INTEGER"/>
        <result column="cancel_time" property="cancelTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <insert id="saveFocuInfo" parameterType="com.baoliao.weixin.bean.FocusInfo">
    insert into tb_focus_info(self_open_id,other_open_id,create_time)values (#{selfOpenId},#{otherOpenId},#{createTime});
</insert>

    <select id="getFocusByOpenId" resultType="java.lang.Integer">
        select count(0) from tb_focus_info where self_open_id=#{selfOpenId} and other_open_id=#{otherOpenId} and is_cancel=0
    </select>

    <select id="getMyFocusCount" resultType="java.lang.Integer">
        select count(0) from tb_focus_info where self_open_id=#{openId} and is_cancel=0
    </select>
    <select id="getFansCount" resultType="java.lang.Integer">
        select count(0) from tb_focus_info where other_open_id=#{openId} and is_cancel=0
    </select>

    <select id="getFocusList" parameterType="java.lang.String" resultType="java.lang.String">
        select other_open_id from tb_focus_info where self_open_id=#{openId} and is_cancel=0 ORDER BY id DESC
    </select>

    <select id="getFansList" parameterType="java.lang.String" resultType="java.lang.String">
        select self_open_id from tb_focus_info where other_open_id=#{openId} and is_cancel=0 ORDER BY id DESC
    </select>

    <update id="cancelAttention" parameterType="com.baoliao.weixin.bean.FocusInfo">
        update tb_focus_info
        set is_cancel = #{isCancel,jdbcType=INTEGER},
          cancel_time =  #{cancelTime,jdbcType=TIMESTAMP}
        where self_open_id = #{selfOpenId,jdbcType=VARCHAR} and other_open_id = #{otherOpenId,jdbcType=VARCHAR}
    </update>

</mapper>