<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baoliao.weixin.dao.TradeDao">
    <resultMap id="BaseResultMap" type="com.baoliao.weixin.bean.Trade">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="product_id" property="productId" jdbcType="INTEGER"/>
        <result column="buyer_open_id" property="buyerOpenId" jdbcType="VARCHAR"/>
        <result column="seller_open_id" property="sellerOpenId" jdbcType="VARCHAR"/>
        <result column="money" property="money" jdbcType="VARCHAR"/>
        <result column="pay_type" property="payType" jdbcType="INTEGER"/>
        <result column="trade_type" property="tradeType" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <insert id="saveTradeInfo" parameterType="com.baoliao.weixin.bean.Trade">
      insert into tb_trade(product_id,buyer_open_id,seller_open_id,trade_type,money,pay_type,create_time) values(#{productId},#{buyerOpenId},#{sellerOpenId},#{tradeType},#{money},#{payType},#{createTime});
    </insert>

    <select id="getTodayIncomeByOpenId" parameterType="java.lang.String" resultType="java.lang.String">
        select sum(money) from tb_trade where to_days(create_time) = to_days(now()) and seller_open_id = #{openId} and trade_type=0
    </select>

    <select id="getIncomeByOpenId" parameterType="java.lang.String" resultType="java.lang.String">
        select sum(money) from tb_trade where seller_open_id = #{openId} and trade_type=0
    </select>

    <select id="getExpenditureByOpenId" parameterType="java.lang.String" resultType="java.lang.String">
        select sum(money) from tb_trade where buyer_open_id = #{openId} and pay_type=0
    </select>

    <select id="getRefundToOtherByOpenId" parameterType="java.lang.String" resultType="java.lang.String">
        select sum(money) from tb_trade where buyer_open_id = #{openId} and trade_type=1
    </select>

    <select id="getRefundToSelfByOpenId" parameterType="java.lang.String" resultType="java.lang.String">
        select sum(money) from tb_trade where seller_open_id = #{openId} and trade_type=1
    </select>

    <select id="getDepositByOpenId" parameterType="java.lang.String" resultType="java.lang.String">
        select sum(money) from tb_trade where buyer_open_id = #{openId} and trade_type=2
    </select>

    <select id="queryTradeList" parameterType="java.lang.String" resultType="com.baoliao.weixin.bean.Trade">
        select p.title as productTitle,t.buyer_open_id as buyerOpenId,t.seller_open_id as sellerOpenId,t.trade_type as
        tradeType,t.money,t.create_time as createTime from tb_trade t left join tb_product p on t.product_id=p.id where
        (buyer_open_id = #{openId} or seller_open_id=#{openId})
        <if test="tradeType == 2">
            and t.trade_type = #{tradeType}
        </if>
        ORDER BY t.id DESC
    </select>

    <select id="queryBuyProductList" parameterType="java.lang.String" resultType="com.baoliao.weixin.bean.Trade">
        SELECT t.id as id,t.product_id as productId,t.money,t.create_time AS createTime, p.title as productTitle
        FROM tb_trade t
        LEFT JOIN tb_product p ON t.product_id = p.id
        WHERE  buyer_open_id =#{openId} and trade_type=0 and t.is_delete='0' GROUP BY product_id  ORDER BY p.id DESC
    </select>

    <select id="querySellerProductList" parameterType="java.lang.String" resultType="com.baoliao.weixin.bean.Trade">
	SELECT
	p.id AS productId,
	p.open_id,
	t.money,
	t.create_time AS createTime,
	p.title AS productTitle,
	count( t.id ) AS sellerCount
FROM
	tb_product p
	LEFT JOIN tb_trade t ON p.id = t.product_id
WHERE
	p.open_id = #{openId}
	AND ( t.trade_type = 0 OR t.create_time IS NULL )
GROUP BY
	p.id
ORDER BY
	p.id DESC;
    </select>

    <insert id="saveOperCashInfo" parameterType="com.baoliao.weixin.bean.Trade">
        insert into tb_trade(product_id,buyer_open_id,seller_open_id,trade_type,money,pay_type,create_time) values(#{productId},#{buyerOpenId},#{sellerOpenId},#{tradeType},#{money},#{payType},#{createTime});
    </insert>

    <select id="checkIsPurchased" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(0) from tb_trade where product_id=#{productId} and buyer_open_id=#{buyerOpenId}
    </select>

    <select id="queryBuyerList" parameterType="java.lang.String" resultType="java.lang.String">
        select buyer_open_id from tb_trade where trade_type=0 and is_delete=0 and product_id=#{productId}
    </select>

    <select id="isTraded" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(0) from tb_trade where product_id=#{productId} and buyer_open_id=#{buyerOpenId} and seller_open_id=#{sellerOpenId}
    </select>
</mapper>